#boxshadow {
  .in-section {
    .settings-zone {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .settings {
        .row {
          display: flex;
          justify-content: space-between;
          gap: 32px;
          margin-bottom: 8px;
        }
      }

      .preview {
        .preview-block {
          width: 350px;
          height: 350px;
          display: flex;
          justify-content: center;
          align-items: center;

          .box-to-shadow {
            height: 200px;
            width: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
              width: 150px;
              height: auto;
            }
          }
        }
      }
    }

    .result-zone {
      .result-text {
        display: flex;
        justify-content: center;
        align-items: center;

        input#result {
          width: 450px;
        }

        svg {
          height: 34px;
          width: 34px;
          cursor: pointer;
        }
      }
    }

    .example {
      .example-cards {
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 15px 15px;

        .card {
          height: 150px;
          width: 150px;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 110px;
            height: auto;
          }
        }
      }
    }

    .documentation {
      text-align: center;
    }
  }
}
/**
* ? Tablet
*/
@media (min-width: 768px) {
  #boxshadow {
    .in-section {
      .settings-zone {
        flex-direction: row;
      }

      .example {
        .example-cards {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 24px;
          padding: 48px 20px;

          .card {
            height: 200px;
            width: 200px;

            img {
              width: 150px;
            }
          }
        }
      }
    }
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  #boxshadow {
    .in-section {
      .settings-zone {
        .preview {
          .preview-block {
            width: 650px;
            height: 450px;
            display: flex;
            justify-content: center;
            align-items: center;

            .box-to-shadow {
              width: 550px;
              height: 350px;
              display: flex;
              flex-direction: column;
              align-items: center;

              img {
                width: 350px;
                height: auto;
              }
            }
          }
        }
      }

      .example {
        .example-cards {
          gap: 42px;
          padding: 48px 63px;

          .card {
            height: 300px;
            width: 300px;

            img {
              width: 200px;
              height: auto;
            }
          }
        }
      }
    }
  }
}
