.content-wrapper {
  width: 350px;
  margin: 0 auto;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  background: var(--dark);
  color: var(--white);
}

a,
a:visited,
a:hover,
a:focus {
  color: var(--grey);
}

h2,
h3 {
  text-align: center;
}

.right {
  text-align: right;
}

.sketch-picker input {
  color: #000;
}

@keyframes cardAnim {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes tada {
  0% {
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
  10% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  20% {
    transform: rotate(-3deg) scaleX(0.8) scaleY(0.8);
  }
  30% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1);
  }
  40% {
    transform: rotate(-3deg) scaleX(1.1) scaleY(1.1);
  }
  50% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1);
  }
  60% {
    transform: rotate(-3deg) scaleX(1.1) scaleY(1.1);
  }
  70% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1);
  }
  80% {
    transform: rotate(-3deg) scaleX(1.1) scaleY(1.1);
  }
  90% {
    transform: rotate(3deg) scaleX(1.1) scaleY(1.1);
  }
  100% {
    transform: rotate(0deg) scaleX(1.1) scaleY(1.1);
  }
}

/**
* ? Tablet
*/
@media (min-width: 768px) {
  .content-wrapper {
    width: 688px;
  }
}

/**
* ? DeskTop
*/
@media (min-width: 1440px) {
  .content-wrapper {
    width: 1110px;
  }
}
